<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352405295079-u7cvh2gfmockahi4m4bip1e3km8rmnin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352405295079-u7cvh2gfmockahi4m4bip1e3km8rmnin</string>
	<key>API_KEY</key>
	<string>AIzaSyC7yT_Ykqrx7YMJyfZIiPqTzuZBeOIwwHY</string>
	<key>GCM_SENDER_ID</key>
	<string>352405295079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proje</string>
	<key>PROJECT_ID</key>
	<string>vizyonergenc-80bc2</string>
	<key>STORAGE_BUCKET</key>
	<string>vizyonergenc-80bc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352405295079:ios:346e128c23d0888252b742</string>
</dict>
</plist>